{% extends 'base.html' %}
{% block content %}
         <div class="page-header">
            <div class="row align-items-center">
               <div class="col">
                  <h3 class="page-title">Edit Student</h3>
                  <ul class="breadcrumb">
                     <li class="breadcrumb-item"><a href="">Student</a></li>
                     <li class="breadcrumb-item active">Edit Student</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12">
               <div class="card">
                  <div class="card-body">
                     <form method="post" action="{% url 'update_student' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-12">
                           <h5 class="form-title"><span>Student Information</span></h5>
                        </div>
                        <div class="row">
                           <div class="col-12 col-sm-6">
                              <div class="form-group">
                                 <label>First Name</label>
                                 <input type="text" class="form-control" name="first_name" value="{% for i in student%}{{i.admin.first_name}}{% endfor %}" >
                                 <input type="text" class="form-control" name="student_id" value="{% for i in student %}{{i.admin.id}}{% endfor %}" hidden>
                              </div>
                           </div>
                           <div class="col-12 col-sm-6">
                              <div class="form-group">
                                 <label>Last Name</label>
                                 <input type="text" class="form-control" name="last_name" value="{% for i in student%}{{i.admin.last_name}}{% endfor %}" >
                              </div>
                           </div>
                           <div class="col-12 col-sm-6">
                              <div class="form-group">
                                 <label>Gender</label>
                                 <select class="form-control" name="gender" >
                                    <option>Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Others">Others</option>
                                 </select>
                              </div>
                           </div>
                           <div class="col-12 col-sm-6">
                              <div class="form-group">
                                 <label>Date of Birth</label>
                                 <div>
                                    <input type="date" class="form-control" name="date_of_birth" >
                                 </div>
                              </div>
                           </div>
                           <div class="col-12 col-sm-6">
                              <div class="form-group">
                                 <label>PRN Number</label>
                                 <input type="text" class="form-control" name="prn_number" value="{% for i in student%}{{i.prn_number}}{% endfor %}" >
                              </div>
                           </div>
                           <div class="col-12 col-sm-6">
                              <div class="form-group">
                                 <label>Department</label>
                                 <select class="form-control" name="department_id" required>
                                    <option>Select </option>
                                       {% for i in department %}
                                    <option value="{{i.id}}">{{i.name}}</option>
                                       {% endfor %}
                                 </select>
                              </div>
                           </div>
                           <div class="col-12 col-sm-6">
                              <div class="form-group">
                                 <label>Academic Year</label>
                                 <select class="form-control" name="academic_year_id" required>
                                    <option>Select </option>
                                       {% for i in academic_year %}cd
                                    <option value="{{i.id}}">{{i.academic_name}}</option>
                                       {% endfor %}
                                 </select>
                              </div>
                           </div>
                           <div class="col-12 col-sm-6">
                              <div class="form-group">
                                 <label>Mobile Number</label>
                                 <input type="number" class="form-control" name="mobile_number" value="{% for i in student%}{{i.mobile_number}}{% endfor %}" >
                              </div>
                           </div>
                           <div class="col-12 col-sm-6">
                              <div class="form-group">
                                 <label>Email-ID</label>
                                 <input type="text" class="form-control" name="email" value="{% for i in student%}{{i.admin.email}}{% endfor %}" >
                              </div>
                           </div>
                           <div class="col-12 col-sm-6">
                              <div class="form-group">
                                 <label>Username</label>
                                 <input type="text" class="form-control" name="username" value="{% for i in student%}{{i.admin.username}}{% endfor %}" >
                              </div>
                           </div>
                           <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Password</label>
                                       <input type="password" class="form-control" name="password" placeholder="Change Password" >
                                    </div>
                           </div>
                           <div class="col-12 col-sm-6">
                              <div class="form-group">
                                 <label>Student Image</label>
                                 <input type="file" class="form-control" name="profile_pic" >
                              </div>
                           </div>
                           <div class="col-12">
                                 <button type="submit" class="btn btn-primary" >Update Student</button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
{% endblock %}